# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
local.properties

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
# [01:22.201] Rebooting soon as I am a-a-able
# [01:26.109] Every other day, I'm wonderin'
# [01:29.834] "What's a human being gotta be like?
# [01:33.659] What's a way to just be competent?"
# [01:36.774] These sweet instincts ruin my life
# [01:39.585] Every other day, I'm wonderin'
# [01:43.681] "Was it a mistake to try and define
# [01:47.559] What I'm certain's mad incompetence?"
# [01:51.097] These sweet instincts ruin my life
# [01:54.676] Da-da-da-da-da-da, da-da-da
# [01:58.222] Da-da-da-da-da-da, da-da-da, da
# [02:01.822] Da-da-da-da-da-da, da-da-da
# [02:05.255] These sweet instincts ruin my life
# [02:08.919] Da-da-da-da-da-da, da-da-da
# [02:12.476] Da-da-da-da-da-da, da-da-da, da
# [02:15.967] Da-da-da-da-da-da, da-da-da
# [02:19.526] These sweet instincts ruin my life